
    <section class="d-flex flex-wrap">
        <!--overview start-->
       

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <div class="info-box blue-bg ">
                    <i class="fa fa-thumbs-o-up"></i>
                    <div class="count">Product</div>
                    <div class="title">Operations </div>
                    <div class="fc-content"> You can show All Products and  Add ,Edit , Get details ,Delete Product</div>

                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

            <div class="col-lg-2 col-md-2 col-sm-10 col-xs-10">
                <div class="info-box brown-bg">
                    <i class="fa fa-thumbs-o-up"></i>
                    <div class="count">Category</div>
                    <div class="title">Operations </div>
                    <div class="fc-content"> You can show All Categories and  Add ,Edit , Get details ,Delete Category</div>

                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

            <div class="col-lg-2 col-md-2 col-sm-10 col-xs-10">
                <div class="info-box dark-bg">
                    <i class="fa fa-thumbs-o-up"></i>
                    <div class="count">Blog</div>
                    <div class="title">Operations </div>
                    <div class="fc-content"> You can show All Blogs and  Add new blog ,Edit , Get details ,Delete Blog</div>

                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

            <div class="col-lg-2 col-md-2 col-sm-10 col-xs-10">
                <div class="info-box green-bg">
                    <i class="fa fa-thumbs-o-up"></i>
                    <div class="count">Regiser</div>
                    <div class="title">Operations </div>
                    <div class="fc-content"> You can Regiser new User and  Add roles to him ,Edit , Get details ,Delete Logged User</div>

                </div>
                <!--/.info-box-->
            </div>

            <div class="col-lg-2 col-md-2 col-sm-10 col-xs-10">
                <div class="info-box red-bg">
                    <i class="fa fa-thumbs-o-up"></i>
                    <div class="count">Role</div>
                    <div class="title">Operations </div>
                    <div class="fc-content"> You can show All Roles and  Add roles to him ,Edit , Get details ,Delete Role</div>

                </div>
                <!--/.info-box-->
            </div>
            <div class="col-lg-2 col-md-2 col-sm-10 col-xs-10">
                <div class="info-box twitter-bg">
                    <i class="fa fa-thumbs-o-up"></i>
                    <div class="count">User</div>
                    <div class="title">Operations </div>
                    <div class="fc-content"> You can show All Users and  Add new user ,Edit , Get details ,Delete User</div>

                </div>
                <!--/.info-box-->
            </div>

        </div>
</section>
